a{
	text-decoration:none;
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	font-weight:bolder;
}
a:active {
	color: blue;
	font-weight:bolder;
}
.top{
	width:100%;
	height:60px;
	background-color:white;
	margin:auto;
}
.down{
	width:100%;
	height:auto;
	background-color:white;
	margin:auto;
}
.left{
	width:21%;
	height:auto;
	background-color:white;
	margin:auto;
	float:left;
}
.right{
	width:79%;
	height:1000px;
	background-color:#F5F5F5;
	margin:auto;
	float:right;
}
.left-top{
	width:100%;
	height:50px;
	background-color:#F5F5F5;
	margin:auto;
	border-top:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
}
.right-top{
	width:100%;
	height:50px;
	background-color:#FFAA33;
	margin:auto;
}
.left-title{
	width:100%;
	height:40px;
	text-align:left;
	font-family:Microsoft JhengHei;
	border-left:solid 4px #FFAA33;
	margin-bottom:5px;
	line-height:40px;
	font-size:130%;
}
.left-list{
	width:100%;
	height:35px;
	text-align:left;
	font-family:Microsoft JhengHei;
	margin-left:8px;
	margin-bottom:3px;
	font-size:18px;
}
.btn{
	border:2px white solid;
	color:black;
	padding:10px 20px;
	cursor:pointer;
	background-color:#e7e7e7;
	font-family: Microsoft JhengHei;
	margin-left:10px;
	font-size:15px;
}
.btn:hover{
	background: #ddd;
	font-weight:bolder;
}
.right-title{
	float:left;
	line-height:50px;
	margin-left:20px;
	font-size:20px;
	font-family: Microsoft JhengHei;
	cursor:pointer;
}
.right-title:hover{
	color:#FFAA33
}
table{
	margin-top:10px;
	width:100%;
	border:solid 1px #CCC;
	font-family:Microsoft JhengHei;
	font-size:16px;
	line-height:30px;
}
td,th,tr{
	border:solid 1px #CCC;
	font-family:Microsoft JhengHei;
	font-size:16px;
	text-align:center;
}
tr:hover{
	background-color:#FFDDAA;
}
