.text{
	color:black;
	text-align:center;
	font-family:Microsoft JhengHei;
}
.pp{
	text-align:center;
	font-size:20px;
	font-family:Microsoft JhengHei;
}
a{
	text-decoration:none;
}
	a:link {
		color: black;
	}
	a:visited {
		color: black;
	}
	a:hover {
		color: #ef5c28;
		font-weight:bolder;
	}
	a:active {
		color: blue;
		font-weight:bolder;
	}
.p{
	text-align:left;
	margin-left:10px;
	font-family:Microsoft JhengHei;
	font-size:20px
}

	